.preview-page {
  flex: 1;
  display: flex;
  padding: 30px 60px;
  justify-content: center;
  .preview_box {
    background: white;
    padding: 73px 70px 0;
    height: 498px;
    max-width: 874px;
    display: flex;
    gap: 60px;

    * {
      user-select: none;
    }

    img {
      width: 300px;
      height: 300px;
      flex-shrink: 0;
    }
    h1 {
      font-size: 42px;
      line-height: 52px;
      margin-top: 18px;
      margin-bottom: 0;
    }
    p {
      margin-top: 20px;
      font-size: 15px;
      line-height: 22px;
      min-height: 176px;
    }
    button {
      background: rgba(112, 178, 255, 1);
      color: white;
      border: none !important;
      font-size: 17px;
      line-height: 21px;
      margin-top: 28px;
      margin-left: 75px;
      font-weight: 500;
      padding: 10px 43px;
      border-radius: 4px;
    }
  }
}