.animation-block {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 1px);
  height: calc(100% + 2px);
  z-index: 3;
  pointer-events: none;
  border: 1px solid rgba(62, 135, 248, 1);
  * {
    margin: 0 !important;
  }
  .small-box {
    width: 9px;
    height: 9px;
    border-radius: 2px;
    border: 1px solid rgba(62, 135, 248, 1);
    position: absolute;
    background: white;
  }
  .right-top {
    top: -4px;
    right: -4px;
  }
  .right-bottom {
    bottom: -4px;
    right: -4px;
  }
  .left-bottom {
    bottom: -4px;
    left: -4px;
  }
  .left-top {
    top: -4px;
    left: -4px;
  }
}
