.control_title {
  align-self: center;
  justify-self: flex-end;
  font-size: 11px;
  min-width: 46px;
  text-align: end;
  line-height: 13px;
  font-weight: 700;
}
.control_value {
  font-size: 13px;
  line-height: 16px;
  min-width: 35px;
}
.control-type_container {
  display: flex;
  align-items: center;
}


