.selected-box {
  position: absolute;
  z-index: 3;
  pointer-events: none;
  border: 1px dotted rgba(62, 135, 248, 1);

  .bg {
    width: 100%;
    height: 100%;
    background: rgb(157, 192, 250);
    filter: blur(3px);
  }
}